<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>Menu Item 1</ion-item>
      <ion-item (click)="navigateToQRCode()">Create your QR Code</ion-item>
      <ion-item (click)="navigateToUpload()">Upload</ion-item>
      <ion-item (click)="navigateToProfile()">Profile</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>Welcome to your dashboard!</h1>
    <p *ngIf="currentUser">Hello, {{ currentUser.displayName || currentUser.email }}!</p>
    <p *ngIf="currentUserStorageSize">You have used {{currentUserStorageSize}} of your account.</p>
    <!-- Add your dashboard content here -->
  </ion-content>
</div>
